*{margin: 0;
padding: 0;}
.content-historia{
    padding-left: 120px;
    padding-right: 120px;
    height:auto;
}
.historia{
    margin-top:-20px;
}
.titulo{
    margin-bottom:50px;
}
p{
    margin-top: 50px;
    font-size:28px;
}

.img{
    width: 620px;
    height:350px;

    margin-left:15px;
    background-color: #009f28;

    float: right;
    border:2px solid black;
    border-radius:5%;
    box-shadow: 7px 26px 22px -8px rgba(0,0,0,0.53);

}


.img-dos{
    width:320px;
    height:420px;
    margin-right: 25px;
   
    float:left;
    border:2px solid black;
    border-radius:5%;
    box-shadow: 7px 26px 22px -8px rgba(0,0,0,0.53);
}
.container-dos{
    margin-top: 50px;
    margin-bottom: 30vh;
    
   
}
.container-tres{
    

    width: 95%;
    margin: auto;
    height: 480px;
    padding-top:30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;



}
.item{
    width: 325px;
    height: 400px;
    transition: .7s;
    padding:15px;
    
    background-color:rgb(53, 53, 53);
    border-radius: 12px;
    border: 2px solid black;
    
}
p{
    margin-top:-4px;
   
   
}
.container-tres div p{
    color: white;
}

.m-uno{
    margin-top: -8vh;
    margin-left: -13vw;
}
.m-dos{
    margin-top: 8vh;
}
.m-tres{
    margin-right: -12vw;
    margin-top: 4vh;
}
.container-tres:hover > .item{
    margin: 0;
}
.img-items{
    width: 285px;
    height: 245px;
    margin-bottom: px;
}

.iframe{
    margin-left: 30%;
    margin-top:50px;
    
}
.wave-historia{
    margin-top: -44vh;

}
.container-cuatro{
    margin-top:60px;
    background-color:#009f28;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    height: auto;
    padding:40px;
    box-sizing: border-box;
    border: 30px ridge rgb(34, 32, 32);
    
}
.img-owner{
    width:50vw;
    height:40vh;
    border-radius:5%;
    border: 2px solid black;
}
.info-owner{
   
    margin-left: 30px;
    

}
.h-info{
    font-size: 60px;
}
.p-info{
    font-size:35px;
}
.container-cinco{
    margin-top:45px;
    display:flex;
    padding: 20px;
    justify-content: space-around;
    border: 20px ridge rgb(34, 32, 32);
    background-color: rgb(47, 44, 44);

}
.container-cinco h1{
    color:white;
}
.iframe-youtube{
    margin-right: 50px;
}
.link{
    font-size:40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.link:hover{
    color: black;
    text-decoration: underline;
}
.footer-historia{
    margin-top:300px;
}