*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "dos";
   
}
@font-face {
    font-family:"a" ;
    src: url(img/Coffee\ for\ Breakfast.ttf);
}
@font-face {
    font-family:"dos";
    src:url("img/Friendly\ Schoolmates\ \(Italic\)\ Font\ by\ Situjuh\ \(7NTypes\).otf")
}
@font-face {
    font-family:"iconos_cafe";
    src: url("/tienda_cafe/public/fuentes/cafe_iconos.ttf");
}

body{
   background-color:black;
   overflow-x: hidden;
}
.container-comment{
     
    display: none;
     position:absolute;
    z-index: 5000;
    background-color:#009f28 ;
    width: 600px;
    height: 95vh;
    margin: auto;
    margin-top: 2vh;
    border: 2px solid ;
    border-radius:20px;
    padding:20px;
    margin-left:400px;
    

}
.cerrar-comment{
    width: 50px; 
    height: 50px;
    position: absolute;
    margin-left:240px ;
    margin-top:-10px;
}
.header-comment{
    
    text-align: center;
    width: 100%;
    height: 120px;;
}
.img-comment{
    margin: auto;
    width:100px;
    height:90px;
    border:2px solid;
    border-radius:50%;
    background:white;

}
.img-comentario{
    width: 90%;
    height: 90%;
    
    


}
.body-comment{
    background-color: white;
    
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 360px;;
    border: 2px solid;
    border-radius:10px;
    padding: 10px;
    overflow: auto;
}
/* .body-comment::-webkit-scrollbar{
    
} */
.comment-chat{
    width: 60%;
    height:auto;
    border: 2px solid black;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
    margin-top:8px;
    padding:4px;
    background:#303030;
    color:#fff;
    

}
.comment-send{
    width: 60%;
    height:auto;
    border: 2px solid black;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    border-top-right-radius:10px;
    margin-left: 40%;
    margin-top:8px;
    padding:4px;
    background:#009f28;
    color:rgb(0, 0, 0);
    
}
.footer-comment{
    padding: 10px;
    width: 100%;
    height: 70px;
    border: 2px solid;
    border-radius:10px;
    background-color: rgb(30, 30, 30);
    display: flex;
}
.input-comment{
    width: 450px;
    height: 46px;
    border: 2px solid;
    background-color: rgb(74, 73, 73);
    border:2px solid black;
    border-radius:8px;
    color: #fff;
    padding:5px;
    font-size:20px
}
.input-comment::focus{
    color: #fff;
    padding:5px;
    font-size:20px;

}
.btn-comment{
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid;
    background-color:#009f28;
    border-radius:50%;

}
.btn-comment::focus{
    background-color:#009f28
}
/* .foro{
    margin-left: 500px;
    background-color:red;
    text-align: center;
    width: 45vw;
    height:92vh;
    position:absolute;
    z-index: 4000;
} */

/* estilos de los modales de registro e iniciose de sesion */
.fade{
    border: 2px solid;
    
    
    
}
.fade .modal-content{
    border-radius: 20px;
    background:rgb(0, 0, 0);
}

.modal-dialog{
    border:2px solid;
    border-radius:40px;
    background:red
}
.header-modal{
    border:2px ;
    border-radius: 20px;;
    background-color: #009f28;
    padding:15px;
    width:100%;

}
.icono-usuario{
    text-align:center;
    width:100%;
    font-size: 50px;
}
.titulo-modal{
    text-align:center;
    width:100%;
    font-size: 35px;
    
}
.content-modal{
    border:2px solid ;
    border-radius:20px;
    background-color:#009f28 ;
}

.form{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    padding:20px;
    width:100%;
    height:auto;
    
    background:rgb(255, 255, 255);
    font-size:20px;
}

.tituloss{
    margin-top: 10px;
    width: 100%;
}
.text{
    width:100%;
    border-radius: 10px;
    border:none;
    border-bottom: solid #292929;
}
.body-modal{
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding:20px;
    font-size:20px;

}
.text:focus{
    
    font-family: none;
    outline: none;
    background: linear-gradient(to bottom,transparent, rgb(213, 213, 213));

}
.comment{
    text-overflow: none;
    width:100%;
    border-radius: 20px;
    border:solid 2px;
    padding: 10px;
    height:95px;
    background: linear-gradient(to bottom,transparent, rgb(218, 218, 218));

}
.comment:focus{
    background: linear-gradient(to bottom,transparent, rgb(255, 253, 253));
    font-family:none;
}
.clasificacion input[type="radio"] {
    display: none;
  }
  
  .label {
    font-family:"iconos_cafe";
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    width: 100%;
    text-align: center;
    font-size:35px
  }
  
  .label:hover,
  .label:hover ~ .label {
    color: rgb(60, 49, 26);
  }
  
  input[type="radio"]:checked ~ label {
    color: rgb(78, 67, 47)
  }
.footer-modal{
    background-color: #ffffff;
    padding-top: 10px;
    gap: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display:flex;
    justify-content:space-around;
   font-size:25px;
   padding-bottom: 20px;
}
.boton-login{
    border:solid #292929;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0)

}
.boton-login:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(30, 30, 30)
}



/* estilos de la animacion de inicio */
.inicio-top{
    margin-top:-30vh;
   display: flex;
   flex-direction: column;
   width: 100vw;
   text-align: center;
   background-color: #009f28;
    position:absolute;
    z-index: 2000;
}
.inicio-imagen {
    
    margin-left: 43%;
    width:280px;
    height:240px;
    outline: 3px solid black;
    border-radius:5%;
    box-shadow: 0px 25px 10px -15px #111; 

}
.inicio-bottom {
    position:absolute;
    z-index: 2000;
    margin-left:30%;

}
.inicio-bottom h1{
    color:#fff;
}

.container-top{

    display: flex;
    width: 100%;
    position: absolute;
    z-index: 2000;
    height: 300px;
    padding-top:35vh;
    
    background-color: #009f28;
    transition: 2s;
    
    align-items: flex-start;
}


.container-bottom{ 
    display: flex;
    position: absolute;
    z-index: 600;
    margin-top: 76vh;
    padding-bottom: 25vh;
    width: 100%;
    height: 50px;
    background-color: #292929;
    transition: 2s;
    margin-bottom: 10vh; 
    align-items: flex-end;
 }

 .header-wave{
    margin-top: -20px;
 }
 .header{
    width: 100%;
    margin-top:-45px;
    position: absolute;
    background-color: #009f28;
    
}
 .header-historia{
    width: 100%;
    margin-top:-25px;
    position: absolute;
    background-color: #009f28;

 }

.menu{
    z-index: 604;
    width: 100%;
    
    position:fixed;
    
}
.header-container{
     
    width: 100%;
    height:20px;
    display: flex;
    justify-content:space-around;

}

    

.container-logo{
    margin-left: 40px;
    margin-top: -1vh;;
    position: relative;
    z-index: 1;
    width:15%;
    height: 40vh;
    border: 2px solid #00000000;
    
    
    

}
.logo{ 
    width:100%;
    height:100%;

   
    
}
.ul{
    margin-top: 10vh;
    z-index: 5;
    width: 40%;
    display: flex;
    justify-content: space-around;
    border-right:4px solid black;
}
.ul-li{
    margin: 15px;
    font-size: 30px;
    color: #292929;
    text-align: center;
    
}
.ul-li a{
    color:white;
    margin-left: 5px;
    text-decoration: none;
    

}
.ul-li a:hover{
    color: #292929;
    padding: 5px;
    border-bottom: solid;

    
    
}


.sesion{
    width: 15vw;
    font-size: 8vh;
    height: 20vh;
    color: #292929;
    margin-top: 40px;
    margin-right: -80px;

    position: relative;

    text-align: center;
    z-index: 605;
}
.icono-sesion{
    padding:4px;

}
.icono-login{
    margin-top:10px;
}
.nombre-login{
    margin-top:-5px;
}
.icono-sesion:hover{
    background-color: #ffffff;
    border-radius: 50%;
 
}
.dropdown-menu{
    padding: 10px;
    width:200px;
    border: 2px solid #292929;
}
.login-li{
    font-size:30px;
    background-color: #ffffff;
    padding: 10px;
    
}
.login-li:hover{
    background-color: #292929;
    color:white;



}
.ico-registro{
    margin-left:10px;
    margin-top: 5px;
}


/******************Agregado por tgedIn*/


/*hasta aca agregue**/
.content{
    padding-top: 30vh;
    width: 100%;
    height:auto;
    background-color:rgba(255, 255, 255, 0)
}
.container-title{
    
    text-align:center;
    background: rgb(255,255,255);

}
.title{
    height:60px;
    font-size:55px;
    font-family:"a";
    color: rgb(19, 19, 19);
    
}
.span-titulo{
    font-family:"icono";
}

.container-info-uno{
    width:100%;
    height:600px;
    background-color: #111;

    display: flex;
    


}
.div-uno{
    width: 60%;
    height: 100%;

    background-image: url("./img/1.png");
    background-size:cover;
}
.div-dos h1{
    font-size: 70px;
}
.fondo-uno{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent,black);
}
.div-dos{
    width:40%;
    height: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 25px;
}
.p-info-uno{
    background-color: rgb(255, 255, 255);
    width:30%;
    font-size: 25px;
}

.container-catalogo{
    width: 100%;
    margin-top:20px;
    padding:40px;
    margin-bottom:50px ;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(188, 186, 186, 0.136);
    background-image: url(./img/vector-cafe.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    

    
    
}
.caja{
    width: 25%;
    height:55vh;

    border-radius: 20px;;

}

.producto{
    width:100% ;
    
    height:63%;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    
}
.producto-body{
    background-color: #009f28;
    width:100%;
    padding:25px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;

    height:37%;

}
.producto-body h5 b{
    font-size:33px;

}

.producto-body a{

    font-size:25px;
    background-color: #ffffff;
    border:solid #303030;
    color:#292929;
    padding:10px;
    border-radius: 10px;
    text-decoration: none;

    
}
.producto-body a:hover{


    background-color: #292929;
    text-decoration: underline;

    color:rgb(255, 255, 255);


    
}
.w-100{
    width: 80%;
    height: 400px;
}
.button{
    background: #00f33d;
    margin-left: -45px;
    
}
.button1{
    background: #00e439;
    margin-right: -45px;

}

.container-info-dos{
    width:100%;
    height:1000px;

    
    display: flex;
    position: relative;
    z-index: 601;
    justify-content: space-around;
    padding:20px 20px 10px 80px;
    background: rgb(255, 255, 255);
    background-size: cover;


}
.titulos{
    font-size:33px;
    margin-top: 5px;
    margin-left: 100px;
}
.servicio-uno{
    
    width: 360px;
    height: 330px;
    position:absolute;
    background-color:rgb(0, 86, 177);
    margin-top:350px ;
    border-radius: 10px;
    margin-left:-200px ;
    transform: rotate(10deg);
    z-index: 5;
    box-shadow: -7px 7px 5px 2px rgba(161,161,161,0.75);
-webkit-box-shadow: -7px 7px 5px 2px rgba(161,161,161,0.75);
-moz-box-shadow: -7px 7px 5px 2px rgba(161,161,161,0.75);
transition: .7s;

}
.servicio-dos{
    width: 360px;
    height: 330px;
    position:absolute;
    background-color:red;
    margin-top: 150px;
    margin-left: 100px;
    transform: rotate(20deg);
    border-radius: 10px;
    z-index: 1;
    box-shadow: -7px 7px 5px 2px rgba(19, 18, 18, 0.53);
    transition: .7s;

}

.servicio-uno:hover{
    transform: rotate(-1deg);
    z-index: 100;
}
.servicio-dos:hover{
    transform: rotate(-1deg);
    z-index: 100;
}
.servicio-tres{
    width: 360px;
    height: 330px;
    position:absolute;
    background-color:rgb(242, 255, 0);
    margin-top: 50px;
    margin-left:-240px ;
    border-radius: 10px;
    transform: rotate(-15deg);
    z-index: 10;
    box-shadow: -7px 7px 5px 2px rgba(31, 31, 31, 0.53);

    transition: .7s;

}
.servicio-tres:hover{
    transform: rotate(-1deg);
    z-index: 100;
}
.titulo-servicios{
    position: absolute;
    font-size:40px;
    margin-top:50px;
   margin-left: 100px;
   transform: rotate(12deg);
   


   
}
.img-servicio{
    width: 300px;
    height: 270px;
    margin-top:20px;
    margin-left:30px;
    
}
.contenedor-servicios-dos{

    margin-top:220px;
    width:400px;
    height:500px;
    background-color:#009f28;
    margin-right: -19vw;
    border: solid;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.lista-servicios{
    margin: 5px;

}
.menu-lista{
    border:solid #292929;
    color:white;
    background-color: #292929;
    border-radius:10px;
    padding:10px;
 
}








footer{

   
    margin-top: 80px;
    width:100%;
    height:60.7vh;
    background-color:#292929;
    position: relative;
    z-index: 604;
   
    
}
.wave-footer{
    margin-top:-50.5vh;
}
.container-footer{ 
    display: flex;
    justify-content: space-around;
}
.container-footer h1{
    color: black;
}
.img-footer{
    margin-top:-40px ;
    width:300px;
    height:300px;
    border: 3px solid black;
    

}
.a{
    color: #c8c8c8;
    font-size:25px;
    text-decoration:none;
    
    

}
.a:hover{
    color:black;

}
.container-contacto{
    display: flex;
    flex-direction: column;
}
.img-redes{
    width:50px;
    margin:8px;
    height:50px;
}
.container-logos{
    display: flex;
    justify-content: space-around;
    
   
}
.facebook:hover{
    border-radius: 100%;
    background-color:#0312b1;
    display: flex;
    justify-content: space-around;
    
   
}

.instagram:hover{  
    border-radius: 100%;
    background-image: linear-gradient( 135deg, #EECE13 10%, #B210FF 100%);


}
.youtube:hover{
    border-radius: 100%;
    background-color: #ef0303;
    

}


