*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.productos-content{
    margin-top: 10vh;
    width: 100%;
    height: 1500px;
    padding: 50px;

}
.productos-catalogo{
    width:100%;
    height:auto;
    padding: 50px;
    display: flex;
    background-color:rgb(247, 10, 10);
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;


}
.container-uno{
    width: 100%;
    height: auto;
    display: flex;

}
.vertical{
    margin: 5px 10px 5px 10px;
    border:solid;
    width: 15%;
    height: 250px;
    background-color:rgb(182, 165, 165);

}
.container-horizontal{
    margin: 5px 10px 5px 10px;
    width: 40%;
    height: 250px;

}
.horizontal{
    margin: 5px 10px 5px 5px;
    background-color:blue;
    border:solid;
    width: 100%;
    height: 50%;
}
.container-dos{
    width: 100%;
    height: auto;
    display: flex;
}
